page-introduccion {
	ion-content{
		background-color: #000000;
		background-image:  url('../assets/img/patrocinio.png');
		background-size: auto 75%;
		background-position: center;
		background-repeat: no-repeat;
		background-position-y: 3em;
	}
	.tutorial-page {

		.toolbar-background {
			border-color: transparent;
		}

		.slide-zoom {
			height: 100%;
		}

		.slide-title {
			margin-top: 1.2rem;
		}

		.slide-image {
			//max-height: 50%;
			//max-width: 60%;
			margin: 10px 0;
		}

		b {
			font-weight: 500;
		}

		p {
			text-align: justify;
			padding: 0 20px;
			font-size: 14px;
			line-height: 1.3;
			color: #60646B;

			b {
				color: #000000;
			}
		}

	}
}
