<ion-header>
	<ion-navbar color="primary">
		<ion-buttons end>
			<button ion-button (click)="saltar_tutorial()">
				<span ion-text color="light" showWhen="ios">Cerrar</span>
				<ion-icon name="md-close" showWhen="android,windows"></ion-icon>
			</button>
		</ion-buttons>
		<ion-title >PAOO - XXXIV Congreso Panamericano de Oftalmología</ion-title>
	</ion-navbar>
</ion-header>

<ion-content class="icons-basic-page center" >
	<!-- <img src="assets/img/patrocinio.png" style="height:100%"/> -->
	<button ion-button  icon-end color="primary"  style="position: fixed; left: 0;   bottom: 4em; right: 0" (click)="saltar_tutorial()">
		Continuar
		<ion-icon name="arrow-forward"></ion-icon>
	</button>
</ion-content>
<!-- <ion-content class="tutorial-page">

	<ion-slides pager>
		<ion-slide *ngFor="let slide of slides">
			<img [src]="slide.image" style="width: 100%;  opacity: 0;" />
			<h2 class="slide-title"  [innerHTML]="slide.title"></h2>
			<p [innerHTML]="slide.description"></p>
			<h2 *ngIf="slide.fin" style="text-align: center;">Dra. Adela Poitevin Chacón</h2>
			<p *ngIf="slide.fin" style="text-align: center;">Presidenta</p>
			<button ion-button large clear icon-end color="primary" *ngIf="slide.fin" (click)="saltar_tutorial()">
				Continuar
				<ion-icon name="arrow-forward"></ion-icon>
			</button>
		</ion-slide>
	</ion-slides>
</ion-content> -->